@import "../../styles/mediaquery";
@import "../../styles/pxToRem";
@import "../../styles/variables";

.container {
  display: flex;
  font-family: $fontFamilyBody;
  flex-direction: column;
  background-color: $colorPrimaryRed;
  border-top: pxToRem(6) solid $colorPrimaryWhite;
  position: relative;
  padding: pxToRem(24) 0;
  margin-top: pxToRem(32);

  @include mediaQuery(m, up) {
    margin-top: pxToRem(64);
  }

  @include mediaQuery(m, up) {
    padding: pxToRem(54);
  }
}

.header {
  font-size: pxToRem(32);
  font-weight: bold;
}

.title {
  font-size: pxToRem(16);
  font-weight: bold;
}

.inputField {
  width: max-content;
  padding: 8px 20px;
}

.button {
  margin-top: pxToRem(22);
  color: $colorPrimaryRed;
}
